/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-jun-2017, 13:19:21
    Author     : USEWEENERS
    Configuración general de aplicación
*/

*{
  margin:0px;
  padding:0px;
}

body {
  	font: 85% "Trebuchet MS", sans-serif;
}
div#contenedor{
    background-color:#e7e7e7;
    margin: 10px;
    height: 84%;
    box-shadow: 2px 5px 8px;
    border-collapse: separate;
    opacity: 0.97; 
    filter: alpha(opacity=97);
}

div#headbody{
    margin: 10px;
}

div#detbody{
    width: 100%;
    margin: auto;
}

div#menuleft{
    box-shadow: 0px 0px 4px;
    border-collapse: separate;
    float:left;
    /*background-color: green;*/ 
    margin: auto;
    width : 20%;
    font-size :13px;
}
div#dcuerpo{
    background-color:#e7e7e7;
    margin: 5px;
    float:right;
    margin: auto;
    width : 80%;
/*    background-color: red;*/
}

.boton {
    background-color: #758697;
    border: 1px solid #e7e7e7;
    color: white;
    padding: 5px 31px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
.boton:hover {
    background-color: #3e8e41;
}

.gboton {
    background-color: #758697;
    border: 1px solid #e7e7e7;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
}
.gboton:hover {
    background-color: #3e8e41;
}

.gdangerboton {
    background-color: #758697;
    border: 1px solid #e7e7e7;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
}
.gdangerboton:hover {
    background-color: #e31732;
}

.dangerboton {
    background-color: #758697;
    border: 1px solid #e7e7e7;
    color: white;
    padding: 5px 31px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
.dangerboton:hover {
    background-color:#e31732;
}


.mboton {
    background-color: transparent;
    border: 0px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.mboton:hover {
    color: #e31732;
}

.bfind {
    background-color: transparent;
    background-image: url("../upload/images/i_find.png");
    background-size: 70%;
    background-repeat:no-repeat;
    width: 20px;
    height: 20px;
    border: 1px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.bfind:hover {
    color: #e31732;
}

 /* Style select tab */
 
 div.tabbody {
    background-color: #f1f1f1;
 }
 /* Style the buttons inside the tab */
 div.divtitle {
    width: 100%;
    float : top;
 }
 div.divtitle button {
     background-color: inherit;
     float: bottom;
     border: none;
     outline: none;
     cursor: pointer;
     padding: 8px 16px;
     transition: 0.3s;
 }

 /* Change background color of buttons on hover */
 div.divtitle button:hover {
     background-color: #ddd;
 }

 /* Create an active/current tablink class */
 div.divtitle button.active {
     background-color: #ccc;
 }
 /* Style the tab content */
 .tabbodycontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
  }
  
.labelinput{
  display: inline-block;
}
/*Formato de las busquedas grid  */
div#dgrid {
  background-color: white;
  width: 100%;
  overflow: auto;
  height: 75%;
}
table#tgrid {
  width: 100%;
  font-size: 12px;
  border-collapse: collapse;
}

th, td {
  padding: 4px;
  text-align: left;
}
th {
  color: white;
}
tr:hover{
    background-color:#f5f5f5;
    cursor: hand;
}